{% extends 'app/navbar.html' %}
{% block main-content %}
<div class="container my-5" style="width:500px; margin:0 auto;">
    <div class="col-sm-9 offset-sm-1 text-center">
        <div><img src="https://media.giphy.com/media/PijzuUzUhm7hcWinGn/giphy.gif"/></div>
    </div>
    <a href="{% url 'login' %}" class="col-sm-9 offset-sm-1 text-center">click here to redirect to login page</a>
    <h3 class="col-sm-9 offset-sm-1 text-center">Password Changed Successfully!!</h3>
</div>
{% endblock main-content %}

</body>
</html>